body {
    margin: 0;
}

header {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80px;
}

.container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header .container .log {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    max-width: 60px;
    padding-right: 252.54px;
    object-fit: contain;
}

header .container .log .logotext {
    align-items: center;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #545BE8;
    margin-left: 8.74px;
}

.nav li a {
    text-decoration: none;
    color: #000;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav li {
    display: inline-block;
    font-family: 'Poppins1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-right: 40px;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 24px;

}

.actions button {
    width: 170px;
    height: 48px;
}

#login-btn {
    background-color: white;
    color: #545BE8;
    border: 1px solid #545BE8;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

}

#reg-btn {
    background-color: #545BE8;
    color: white;
    border: 1px solid #545BE8;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    background-size: 100%;
    min-height: 705px;
    width: auto;
}

section .info-fon {
    padding-left: 36px;
}


.blue-text {
    color: #545BE8;
}



section .btn-info {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}



.reg-btn-info {
    background-color: #545BE8;
    color: white;
    border: 1px solid #545BE8;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    min-width: 170px;
    height: 48px;
}

.play-btn {
    padding-left: 42.25px;
    min-width: 170px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

section h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

section .lets {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
}

section .grey-text {
    font-family: 'Poppins1';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #969696
}

.about-us {
    max-height: 522px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#blue-text {
    color: #545BE8;
}

.what {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #141E32;
}

.what-baner {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.what-text {
    padding-left: 150px;
    padding-right: 24px;
}

.baner {
    height: 267px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #545BE8;
    border-radius: 10px;
    min-width: 267px;

}

.text-baner {
    padding-left: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
}

.contant-baner {
    padding-left: 16px;
    font-family: 'Poppins1';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #DDDDDD;
}

.img-baner {
    max-width: 48px;
    padding-left: 16px;
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(font/Inter-V.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Medium.ttf);
}

@font-face {
    font-family: Poppins1;
    src: url(font/Poppins-Regular.ttf)
}

@media only screen and (max-width: 1150px) {
section{
    width: 100vw;
}

}